body {
    font-family: Arial, sans-serif;
    background-color: #f0c7c7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: #f0a1a1;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 20px;
    text-align: center;
}

.card h2 {
    margin-top: 0;
    color: #7d0202;
}

.card p {
    color: #960e0e;
}